<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="gitlab-hoff" value="https://gitlab.hoff.ru/api/v4/groups/86/-/packages/nuget/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <gitlab-hoff>
      <add key="Username" value="hoff-lib" />
      <add key="ClearTextPassword" value="L9okoqu6mHB25qobxM3_" />
    </gitlab-hoff>
  </packageSourceCredentials>
</configuration>